<launch>

    <!-- run Point cloud to laser scan node-->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name = "pointcloud_to_laserscan_right">#

        <remap from="cloud_in" to="/temperature_right_pointcloud_topic"/>
        <remap from="scan" to="/right_temperature/scan"/>

        <rosparam>
            target_frame: temperature_right_link
            transform_tolerance: 0.01
            min_height: 0.0
            max_height: 1.0

            angle_min: -1.5708
            angle_max: 1.5708
            angle_increment: 0.0087
            range_min: 0.25
            range_max: 4.0
            use_inf: true

            concurrency_level: 1
        </rosparam>

    </node>


</launch>