<?xml version="1.0" encoding="UTF-8"?>
<launch>

<!--Initial Position-->
    <arg name="x_pos" default="-5.5"/>
    <arg name="y_pos" default="-9.2"/>
    <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  
  
<!-- Convert xacro and put on parameter server -->
<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find neo_simulation)/robots/mpo_700/mpo_700.urdf.xacro'"/>

<!-- Spawn a robot into Gazebo -->


 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mpo_700 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" >
  </node>

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	<param name="publish_frequency" value="20.0"/>
  </node>
  




</launch>
